@media (min-width: 641px) and (max-width: 960px) {
  .board {
    width: 100%;
    padding: 25px 25px;
  }

  .bulletin {
    flex: 0 0 48%;
    margin-right: 4%;
  }

  .bulletin:nth-child(2n) {
    margin-right: 0;
  }
}
