@media (min-width: 961px) and (max-width: 1280px) {
  .board {
    width: 100%;
    padding: 25px 25px;
  }

  .bulletin {
    flex: 0 0 32%;
    margin-right: 2%;
  }

  .bulletin:nth-child(3n) {
    margin-right: 0;
  }
}
